* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#input {
  padding: 2em 0;
  text-align: center;
}

#container {
  padding: 2em 0;
  text-align: center;
}
